@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active Navigation Link */
.active {
  @apply text-cyan-500;
}

.active svg {
  @apply text-cyan-500;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.4s;
}
.bar:nth-child(4) {
  animation-delay: 0.6s;
}
.bar:nth-child(5) {
  animation-delay: 0.8s;
}
.bar:nth-child(6) {
  animation-delay: 1s;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
